.items {
  background-color: white;
  border-radius: 10px;
  padding: 0px 15px 0px 15px;
  margin-bottom: 10px;

  .css-i4bv87-MuiSvgIcon-root {
    font-size: 3rem;
  }

  .checkbox {
    float: left;
  }
}
